.neomorpichBoxOut{
  background: #262626;
  box-shadow:  7px 7px 14px #3d3d3d,
               -7px -7px 14px #0a0a0f;
    color: white;
   
}    

.neomorpichBox{
  background: #222;
  box-shadow: inset 7px 7px 14px #0a0a0f,
              inset -7px -7px 14px #3d3d3d;
    color: white;
    /* position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); */
}

  .stackname{
    visibility: hidden;
  }
  .stackbox , .stackname{
    transition: 0.3s;
  }
  .stackbox:hover .stackname{
    visibility: visible;
  }

  .heading{
    color: #2563eb;
    background: -webkit-linear-gradient(0deg,#2563eb, white);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  }
.heading:hover {
    animation: headingAni 5000ms ease-in infinite;
}
  

  .tech:hover{
    transform: scale(1.1);

  }

  .tech:hover + .name {
    opacity: 1;
    /* transform: scale(1.2); */
  }

  .tech,.name{
    transition: 1s;
  }

  @keyframes headingAni {
    0% {
      background: -webkit-linear-gradient(0deg,#2563eb, #ccc);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    
    }
    100% {
      background: -webkit-linear-gradient(0deg,#ccc, #2563eb);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    
    }
  }